@import "tailwindcss";

@theme {
  --animate-squeeze: squeeze 15s ease-in-out infinite;
  --github-color: #6cc644;
  --linkedIn-color: #0077b5;
  --tracking-4: 0.22em;
}

/* General Styles T*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1410;
  color: #fff;
}

@keyframes squeeze {
  0%,
  100% {
    letter-spacing: -0.15em;
  }
  20%,
  30% {
    letter-spacing: -0.2em;
  }
  40%,
  50%,
  60%,
  70%,
  80% {
    letter-spacing: -0.25em;
  }
}
