.Header {
    height: 100%;
    width: 100%;
    top: 0;
}

.TitleContainer {
    height: 100%;
}

.Left {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.Right {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.DivRight {
    text-align: right;
}

a:link {
    text-decoration: none;
}





